<html lang="pt">    
<head>
    <meta charset="utf-8">
    <title>GitSpeak</title>
    <link rel="stylesheet" href="/static/css/reveal.css">
    <link rel="stylesheet" href="/static/css/theme/night.css" id="theme"> 
    <link rel="stylesheet" href="/static/lib/css/zenburn.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <style type="text/css">
        h1{
            font-size: 1.77em !important;
        }
        h2{
            font-size: 1.11em !important;
        }
        .reveal .slides {
            text-align: left !important;
        }
        #formOpenUrl{
          float: right;
          margin-right: 3em;
          margin-top: 2em;
        }
        #formOpenUrl #inputRepositoryUrl {
          width: 25em;
          height: 2em;
          background-color: rgb(97, 97, 97);
          border-radius: 6px;
          border: 0px none;
          color: rgb(255, 255, 255);
          padding-left: 15px;
        }
        #formOpenUrl #selectSlideType {
            height: 2em;
            width: 6.5em;
        }
        #formOpenUrl #buttonOpenRepositoryUrl{
          height: 2em;
          width: 6.5em;
        }
    </style>
    <!--Add support for earlier versions of Internet Explorer -->
    <!--[if lt IE 9]>
    <script src="/static/lib/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">

    function getRepositoryUrl(gitUrl){
        urlEnd = "";
        site = "http://github"
        if(gitUrl.search(site) == -1  || gitUrl.search("https://github") == -1 ) {
          if (gitUrl[0] == "/"){
            urlEnd = site+gitUrl;
          }else{
            urlEnd = site+"/"+gitUrl;
          }
        }else{
          urlEnd = gitUrl;
        }  
        return urlEnd;
    }

      function urlSanitize(gitUrl){
        return new URL(getRepositoryUrl(gitUrl)).pathname;
      }
      


      function openSlide(){
        repositoryUrl = urlSanitize(document.getElementById('inputRepositoryUrl').value);
        slideType = document.getElementById("selectSlideType").value;
        if(repositoryUrl){
          if(slideType == 'normal'){
            url = repositoryUrl
          }else{
            url = 'wrapper'+repositoryUrl
          }
          window.open(url, '_blank');    
        }else{
          alert('URL, are missing more params!')
        } 
      }

    </script>
    <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');

      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>
</head>
 
<body>
    <div id='formOpenUrl'>
      <form>
        <input id="inputRepositoryUrl" type="text" name="name" placeholder="https://github.com/usuario/repositorio/pasta/..." />
        <select id="selectSlideType">
          <option value="normal">Normal</option>
          <option value="wrapper">Wrapper</option>
        </select>
        <button id="buttonOpenRepositoryUrl" onclick="openSlide()" type="button">Go!</button>
      </form>
    </div>
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>Git Speak</h1>
                <h3>Do you have some code?</h3>        
            </section>
            <section id="show-a-link">
                <h3>You can present it,</h3>
                <h3>for everybody</h3>
            </section>
            <section>
                <h3>In a quick and simple way!</h3>
                <h2>:)</h2>
            </section>
        </div>
    </div>
    <script src="/static/lib/js/head.min.js"></script>
    <script src="/static/js/reveal.js"></script>
    <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      width: 900,
      height: 600,
      margin: 0.1,
      //minScale: 0.2,
      //maxScale: 1.5

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Parallax scrolling
      // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
      // parallaxBackgroundSize: '2100px 900px',

      // Optional libraries used to extend on reveal.js
      dependencies: [{
        src: '/static/lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        }
      }, {
        src: '/static/plugin/markdown/marked.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/markdown/markdown.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/highlight/highlight.js',
        async: true,
        callback: function () {
          hljs.initHighlightingOnLoad();
        }
      }, {
        src: '/static/plugin/zoom-js/zoom.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }, {
        src: '/static/plugin/notes/notes.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }]
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68149662-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
 