<html lang="pt">    
<head>
    <meta charset="utf-8">
    <title>GitSpeak</title>
    <link rel="stylesheet" href="/static/css/reveal.css">
    <link rel="stylesheet" href="/static/css/theme/night.css" id="theme"> 
    <link rel="stylesheet" href="/static/lib/css/zenburn.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <style type="text/css">
        h1{
            font-size: 1.77em !important;
        }
        h2{
            font-size: 1.11em !important;
        }
        .reveal .slides {
            text-align: left !important;
        }
        #formOpenUrl{
          float: right;
          margin-right: 3em;
          margin-top: 2em;
        }
        #formOpenUrl #inputRepositoryUrl {
          width: 25em;
          height: 2em;
          background-color: rgb(97, 97, 97);
          border-radius: 6px;
          border: 0px none;
          color: rgb(255, 255, 255);
          padding-left: 15px;
        }
        #formOpenUrl #selectSlideType {
            height: 2em;
            width: 6.5em;
        }
        #formOpenUrl #buttonOpenRepositoryUrl{
          height: 2em;
          width: 6.5em;
        }
        #error {
            color: rgb(255, 255, 255);
            text-align: center;
            margin-top: 100px;
            font-size: 30px;
        }
        .hide{
          display: none;
        }

      .loader{
        width: 100%;
        text-align: center;
        padding: 1em;
        margin-top: 100px;
        text-align: center;
        padding: 1em;
        vertical-align: top;
      }

      /*
        Set the color of the icon
      */
      svg path,
      svg rect{
        fill: #fff;
      }
    </style>
    <!--Add support for earlier versions of Internet Explorer -->
    <!--[if lt IE 9]>
    <script src="/static/lib/js/html5shiv.js"></script>
    <![endif]-->
    
    <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');

      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>
</head>
 
<body>
    <div id='formOpenUrl'>
      <form>
        <input id="inputRepositoryUrl" type="text" name="name" placeholder="Repository URL" />
        <select id="selectSlideType">
          <option value="normal">Normal</option>
          <option value="wrapper">Wrapper</option>
        </select>
        <button id="buttonOpenRepositoryUrl" onclick="openSlide()" type="button">Go!</button>
      </form>
    </div>
    <div id='error' class="hide"> Desculpe houve algum erro!</div>
    <div class="loader hide" title="4">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="0" width="4" height="10" fill="#333">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 20; 0 0"
            begin="0" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="10" y="0" width="4" height="10" fill="#333">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 20; 0 0"
            begin="0.2s" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="20" y="0" width="4" height="10" fill="#333">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 20; 0 0"
            begin="0.4s" dur="0.6s" repeatCount="indefinite" />
        </rect>
      </svg>
    </div>
    

    <div class="reveal">
        <div class="slides">
            <section>
                <h1>Git Speak</h1>
                <h3>Do you have some code?</h3>        
            </section>
            <section id="show-a-link">
                <h3>You can present it,</h3>
                <h3>for everybody</h3>
            </section>
            <section>
                <h3>In a quick and simple way!</h3>
                <h2>:)</h2>
            </section>
        </div>
    </div>
    <script src="/static/lib/js/head.min.js"></script>
    <script src="/static/js/reveal.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      width: 900,
      height: 600,
      margin: 0.1,
      //minScale: 0.2,
      //maxScale: 1.5

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Parallax scrolling
      // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
      // parallaxBackgroundSize: '2100px 900px',

      // Optional libraries used to extend on reveal.js
      dependencies: [{
        src: '/static/lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        }
      }, {
        src: '/static/plugin/markdown/marked.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/markdown/markdown.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/highlight/highlight.js',
        async: true,
        callback: function () {
          hljs.initHighlightingOnLoad();
        }
      }, {
        src: '/static/plugin/zoom-js/zoom.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }, {
        src: '/static/plugin/notes/notes.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }]
    });
  Reveal.addEventListener( 'ready', function( event ) {
        //Reveal.add = function( content = '',index = -1 ){ 
        Reveal.add = function( content ,index ){ 
            dom = {},

            dom.slides = document.querySelector( '.reveal .slides' );
            var newSlide = document.createElement( 'section' );
            if( index === -1 ) { //adding slide to end
                newSlide.classList.add( 'future' );
                dom.slides.appendChild(newSlide);
                document.querySelector( '.navigate-right' ).classList.add( 'enabled' ); //just enable it, even if it is
            } else if( index > Reveal.getIndices().h ) {
                newSlide.classList.add( 'future' );
                dom.slides.insertBefore(newSlide,dom.slides.querySelectorAll('section:nth-child('+(index+1)+')')[0]);
            } else if( index <= Reveal.getIndices().h ) {
                newSlide.classList.add( 'past' );
                dom.slides.insertBefore(newSlide,dom.slides.querySelectorAll('section:nth-child('+(index+1)+')')[0]);
                Reveal.next();
            }
            newSlide.innerHTML = content;
        };
        Reveal.remove = function( index ){ 
            dom = {},

            dom.wrapper = document.querySelector( '.reveal' );
            dom.slides = document.querySelector( '.reveal .slides' );
            var target = (dom.wrapper.querySelectorAll('.slides > section:nth-child('+(index+1)+')')[0]) ? dom.wrapper.querySelectorAll('.slides > section:nth-child('+(index+1)+')')[0] : false;

            if( index === -1 ) {
                if (Reveal.isLastSlide()) Reveal.prev();
                dom.slides.removeChild(dom.wrapper.querySelectorAll('.slides > section')[dom.wrapper.querySelectorAll('.slides > section').length-1]);
                if (Reveal.isLastSlide()) document.querySelector( '.navigate-right' ).classList.remove( 'enabled' );
            } else if( index > Reveal.getIndices().h && target ) {
                dom.slides.removeChild(target);
                if (Reveal.getIndices().h == dom.wrapper.querySelectorAll('.slides > section').length-1) document.querySelector( '.navigate-right' ).classList.remove( 'enabled' );
            } else if( index < Reveal.getIndices().h && target ) {
                dom.slides.removeChild(target);
                location.hash = '/'+parseInt(Reveal.getIndices().h-1);
            } else if( index == Reveal.getIndices().h && target ) {
                if (index == 0) {
                    Reveal.next();
                    document.querySelector( '.navigate-left' ).classList.remove( 'enabled' );
                } else Reveal.prev();
                dom.slides.removeChild(target);
                if( dom.wrapper.querySelectorAll('.slides > section').length == index) document.querySelector( '.navigate-right' ).classList.remove( 'enabled' );
            }
        };
    } );
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68149662-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">

      function urlSanitize(str){
        return new URL(str).pathname;
      }
      
      function openSlide(){
        removeHome();
        getSlide();

        //repositoryUrl = urlSanitize(document.getElementById('inputRepositoryUrl').value);
        //slideType = document.getElementById("selectSlideType").value;
        //if(repositoryUrl){
        //  if(slideType == 'normal'){
        //    url = repositoryUrl
        //  }else{
        //    url = 'wrapper'+repositoryUrl
        //  }
        //  window.open(url, '_blank');    
        //}else{
        //  alert('URL, are missing more params!')
        //} 
      }

      function getSlide(){

        jQuery.ajaxSetup({
          beforeSend: function() {
             removeClassBySelector("hide",".loader");
          },
          complete: function(){
             addClassBySelector("hide",".loader");
          }
        });

        $.get("http://0.0.0.0:4000/v1/content/Delermando/telecine/telecine_nerd/telecine/settings.py", function(data, status){
          //var json = JSON.parse(data);
          if(status != "success"){
            removeClassBySelector('hide',"#error");
          }{
            Reveal.add('delermando', -1);
            Reveal.add('salmo', -1);
            Reveal.add(data.response.data.content, -1);
          }
        });
      };

      function removeHome(){
        $("#formOpenUrl").remove();
        $(".reveal > .slides > section").remove();
      }

      function removeClassBySelector( cssClass, selector ){
        $( selector ).removeClass(cssClass);
      }

      function addClassBySelector(cssClass, selector ){
        $( selector ).addClass(cssClass);
      }

    </script>
</body>
</html>
 