<html lang="pt">    
<head>
    <meta charset="utf-8">
    <title>Git Speak</title>
    <link rel="stylesheet" href="/static/css/reveal.css">
    <link rel="stylesheet" href="/static/css/theme/night.css" id="theme"> 
    <style type="text/css">
        h1{
            font-size: 1.77em !important;
        }
        h2{
            font-size: 1.11em !important;
        }
        .reveal .slides {
            text-align: left !important;
        }
    </style>
    <!--Add support for earlier versions of Internet Explorer -->
    <!--[if lt IE 9]>
    <script src="/static/lib/js/html5shiv.js"></script>
    <![endif]-->
    <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');

      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>
</head>
 
<body>
    <div class="reveal">
        <div class="slides">
            <section>
                {{ content }}
            </section>
            <section>
                <h1>Git Speak</h1>
                <h3>Do you have some code?</h3>        
            </section>

            <section id="show-a-link">
                <h3>You can present it,</h3>
                <h3>for everybody</h3>
            </section>
 
            <section>
                <h3>In a quick and simple way.!</h3>
                <h2>:)</h2>
            </section>
    </section>
        </div>
    </div>
    <script src="/static/lib/js/head.min.js"></script>
    <script src="/static/js/reveal.js"></script>
    <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,


      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Parallax scrolling
      // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
      // parallaxBackgroundSize: '2100px 900px',

      // Optional libraries used to extend on reveal.js
      dependencies: [{
        src: '/static/lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        }
      }, {
        src: '/static/plugin/markdown/marked.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/markdown/markdown.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/highlight/highlight.js',
        async: true,
        callback: function () {
          hljs.initHighlightingOnLoad();
        }
      }, {
        src: '/static/plugin/zoom-js/zoom.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }, {
        src: '/static/plugin/notes/notes.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }]
    });
  </script>
</body>
</html>
 