<html lang="pt">    
<head>
    <meta charset="utf-8">
    <title>Git Speak</title>
    <link rel="stylesheet" href="/static/css/reveal.css">
    <link rel="stylesheet" href="/static/css/theme/night.css" id="theme"> 
    <link rel="stylesheet" href="/static/lib/css/zenburn.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <style type="text/css">
        h1{
            font-size: 1.77em !important;
        }
        h2{
            font-size: 1.11em !important;
        }
        .reveal .slides {
            text-align: left !important;
        }
    </style>
    <!--Add support for earlier versions of Internet Explorer -->
    <!--[if lt IE 9]>
    <script src="/static/lib/js/html5shiv.js"></script>
    <![endif]-->
    <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');

      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>
</head>
 
<body>
    <div class="reveal">
        <div class="slides">
            {{ content }}
        </div>
    </div>
    <script src="/static/lib/js/head.min.js"></script>
    <script src="/static/js/reveal.js"></script>
    <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      width: 900,
      height: 600,
      margin: 0.1,
      //minScale: 0.2,
      //maxScale: 1.5

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Parallax scrolling
      // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
      // parallaxBackgroundSize: '2100px 900px',

      // Optional libraries used to extend on reveal.js
      dependencies: [{
        src: '/static/lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        }
      }, {
        src: '/static/plugin/markdown/marked.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/markdown/markdown.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      }, {
        src: '/static/plugin/highlight/highlight.js',
        async: true,
        callback: function () {
          hljs.initHighlightingOnLoad();
        }
      }, {
        src: '/static/plugin/zoom-js/zoom.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }, {
        src: '/static/plugin/notes/notes.js',
        async: true,
        condition: function () {
          return !!document.body.classList;
        }
      }]
    });
    Reveal.addEventListener( 'ready', function( event ) {
        Reveal.add = function( content = '',index = -1 ){ 
            dom = {},

            dom.slides = document.querySelector( '.reveal .slides' );
            var newSlide = document.createElement( 'section' );
            if( index === -1 ) { //adding slide to end
                newSlide.classList.add( 'future' );
                dom.slides.appendChild(newSlide);
                document.querySelector( '.navigate-right' ).classList.add( 'enabled' ); //just enable it, even if it is
            } else if( index > Reveal.getIndices().h ) {
                newSlide.classList.add( 'future' );
                dom.slides.insertBefore(newSlide,dom.slides.querySelectorAll('section:nth-child('+(index+1)+')')[0]);
            } else if( index <= Reveal.getIndices().h ) {
                newSlide.classList.add( 'past' );
                dom.slides.insertBefore(newSlide,dom.slides.querySelectorAll('section:nth-child('+(index+1)+')')[0]);
                Reveal.next();
            }
            newSlide.innerHTML = content;
        };
        Reveal.remove = function( index = -1 ){ 
            dom = {},

            dom.wrapper = document.querySelector( '.reveal' );
            dom.slides = document.querySelector( '.reveal .slides' );
            var target = (dom.wrapper.querySelectorAll('.slides > section:nth-child('+(index+1)+')')[0]) ? dom.wrapper.querySelectorAll('.slides > section:nth-child('+(index+1)+')')[0] : false;

            if( index === -1 ) {
                if (Reveal.isLastSlide()) Reveal.prev();
                dom.slides.removeChild(dom.wrapper.querySelectorAll('.slides > section')[dom.wrapper.querySelectorAll('.slides > section').length-1]);
                if (Reveal.isLastSlide()) document.querySelector( '.navigate-right' ).classList.remove( 'enabled' );
            } else if( index > Reveal.getIndices().h && target ) {
                dom.slides.removeChild(target);
                if (Reveal.getIndices().h == dom.wrapper.querySelectorAll('.slides > section').length-1) document.querySelector( '.navigate-right' ).classList.remove( 'enabled' );
            } else if( index < Reveal.getIndices().h && target ) {
                dom.slides.removeChild(target);
                location.hash = '/'+parseInt(Reveal.getIndices().h-1);
            } else if( index == Reveal.getIndices().h && target ) {
                if (index == 0) {
                    Reveal.next();
                    document.querySelector( '.navigate-left' ).classList.remove( 'enabled' );
                } else Reveal.prev();
                dom.slides.removeChild(target);
                if( dom.wrapper.querySelectorAll('.slides > section').length == index) document.querySelector( '.navigate-right' ).classList.remove( 'enabled' );
            }
        };
    } );
  </script>
</body>
</html>
 